
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

section{
    height: 650px;
    display:flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
}

section h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}

section p{
    top: 635px;
    left: 196px;
    width: 962px;
    height: 160px;
}

section a{
    display: inline-block;
    padding: 7px 0;
    color: #ffffff;
    text-decoration: none;
    width: 170px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: RGB(124, 60, 140);
}

section img{
    height: 20%;
}

section:nth-child(1){
    margin: 0;
    padding: 0;
    background: url(IMGBackgrounds/hojauno.png);
    background-size: cover;
    background-position: center;
}

section:nth-child(2){
    margin: 0;
    padding: 0;
    background: url(IMGBackgrounds/hojadosREDONDEADA.png);
    background-size: cover;
    background-position: center;
}

section:nth-child(3){
    margin: 0;
    padding: 0;
    background: url(IMGBackgrounds/hojatresREDONDEADA.png);
    background-size: cover;
    background-position: center;
}

section:nth-child(4){
    margin: 0;
    padding: 0;
    background: url(IMGBackgrounds/hojacuatroREDONDEADA.png);
    background-size: cover;
    background-position: center;
}



